openapi: 3.0.1

info:
  title: ainize-gpt2-tweets
  description: |
      generate celeb's tweet via tweets data based fine-tuned gpt2 model
  contact:
    name: Ainizer - gyumin Lee
  version: "1.0"
  license:
    name: Apache License 2.0
    url: https://github.com/huggingface/transformers/blob/master/LICENSE

servers:
  - url: https://main-gpt2-tweets-gmlee329.endpoint.ainize.ai

paths:
  /gpt2-tweets:
    post:
      requestBody:
        required: true
        description: |
          Select model you want to generate tweet.
          Specify a length of the text and set the start prompt for the text to be generated.
          Specify a num_samples that is the number of proposals.
          The length and num_sampls must can be parse to integer
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model:
                  type: string
                  enum: ['barackobama', 'billgates', 'dualipa', 'elonmusk', 'iamcardib', 'joebiden', 'ladygaga', 'stephenking', 'tim_cook']
                text:
                  type: string
                num_samples:
                  type: string
                length:
                  type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
        
        '429':
          description: Busy to server, please retry again.

        '500':
          description: Server side error
          